<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Common Template</title>
</head>
<body>
    
    <div th:fragment="header">
        <nav class="navbar navbar-dark navbar-expand-lg" style="background-color: black;">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1" style="color: white;">
                    <img th:src="@{/images/bpop_logo.png}" alt="logo goes here" class="d-inline-block align-text-top" width="40" height="40">
                    Bopify
                </span>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/playlists" style="color: white;">Playlists</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/createPlaylist" style="color: white;">Create a Playlist</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/deletePlaylist" style="color: white;">Delete a Playlist</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/editPlaylist" style="color: white;">Edit a Playlist</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout" style="color: white;">Log Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        
        </nav>
    </div>

    <div th:fragment="footer">
        <h5 style="text-align: center; position: fixed; bottom: 0; width: 100%; color: #fc3c67;">Created by The Bopify Team, 2024</h5>
    </div>



</body>
</html>