<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xlmns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/inTemplate">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Delete Playlists</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bopify.css">
</head>

<body style="background-color: #255bd8;">

	<div layout:fragment="content" style="background-color: white;">
		<br>
		<h1 class="title">Delete Playlists</h1>
		 
		 <!-- Table of user playlists -->
		<div th:if="${playlists != null}">
			<table style="width: 100%">
				<thead>
					<tr>
						<th class="px-3" style="text-align: left">
							<h4>Playlists:</h4>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${playlists.empty}">
						<td style="text-align: center" colspan="2">No Playlists	Available</td>
					</tr>
					<tr th:each="playlist : ${playlists}">
						<td class="px-3" style="text-align: center">
							<h5 th:text="${playlist.playlistName}">Playlist 1</h5>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:unless="${playlists != null}">
			<p>No playlists available</p>
		</div>
		<br>
		<form action="#" method="post" th:action="@{processDelete}">
			<div class="playlist-delete">
				<div class="input-box px-3">
	            	<h5>Enter desired playlist to delete:</h5>
	            	<input th:field="*{playlistEntity.playlistName}" type="text" id="playlistName" name="playlistName" placeholder="Playlist Name">          
	            </div>
	            
	            <div class="button px-3 pb-2">
    				<input type="submit" value="Delete">
    			</div>
			</div>
			<!-- message if no playlist is found in the database -->
    		<div class="alert alert-danger" th:if="${errorMessage}">
                <p th:text="${errorMessage}"></p>
            </div>
		</form>
	</div>
</body>
</html>